.signin{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color:  #007bff;
    color: #fff;
    transition: all 0.3;
}

.signin:hover{
    background-color: #004b9b;
    cursor: pointer;
}