.user {
    display: flex;
    align-items: center;
}

.userPic {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.userPic img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.wrapper {
    position: relative;
}

.clickBlock {
    cursor: pointer;
    color: #fff;
}

.signOut{
    background-color: transparent;
    border: none;
    outline: none;
}

.signOut:hover{
    color: #007bff;
    cursor: pointer;
}

.DDMenu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.DDMenu ul {
    list-style: none;
    padding: 0;
}

.DDMenu li {
    margin-bottom: 10px;
    color: #000000;
    padding: 5px 0;
}


.DDMenu li:hover {
    color: #007bff;
    cursor: pointer;
}