.header{
    background-color: rgb(46, 46, 46);
    padding: 20px 10px;
}

.header a{
    text-decoration: none;
    color: #fff;
}

.header a:hover{
    color:#a7a7a7;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li{
    display: inline-block;
    margin-right: 15px;
}

.home{
    font-size: 24px;
}

.home a:hover{
    color: #007bff;
}

.ulS{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggole{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:15px;
    font-size: 24px;
}

.toggole button{
    padding: 5px;
    background-color:transparent;
    border: none;
    color: #fff;
}

.toggole button:hover{
    color: #007bff;
    cursor: pointer;
}

.userDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

